<nav class="navbar navbar-default navbar-static-top" role="navigation">
  <div class="navbar-header">
    <a class="navbar-brand" href="/">Eurucamp 2014</a>
  </div>
</nav>

<div class="container-fluid" ng-controller="MainController">
<div class="jumbotron">
	<h1>Hello team {{team}}</h1>
</div>
</div>


<div class="container-fluid" ng-controller="ClipController">
 <h1>{{report_1_data.length}}</h1>



</div>