<!DOCTYPE html>
<html  ng-app="sax">
<head>
  <title>Eurucamp</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="utf-8">

  <link href="components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" type="text/css">
  <link href="components/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <link href="css/sax.css" rel="stylesheet" type="text/css">
</head>
<body>

 <%= yield %>

 <script charset="utf-8" src='components/underscore/underscore.js' type="text/javascript"></script>
 <script charset="utf-8" src='components/jquery/dist/jquery.js' type="text/javascript"></script>
 <script charset="utf-8" src='components/bootstrap/dist/js/bootstrap.min.js' type="text/javascript"></script>
 <script charset="utf-8" src='components/angular/angular.js' type="text/javascript"></script>
 <script charset="utf-8" src='components/angular-resource/angular-resource.js' type="text/javascript"></script>

 <script charset="utf-8" src='components/d3/d3.js'  type="text/javascript"></script>
 <script charset="utf-8" src='components/nvd3/nv.d3.js' type="text/javascript"></script>
 <script charset="utf-8" src='components/angularjs-nvd3-directives/dist/angularjs-nvd3-directives.js' type="text/javascript"></script>

 <script charset="utf-8" src='js/clip/clip.js' type="text/javascript"></script>
 <script charset="utf-8" src='js/sax.js' type="text/javascript"></script>

</body>
</html>